@include mq($pc) {

	/* module */
	// 더 바디샵 프렌즈 소개
	.comm-tt-rela-zone{
		position:relative;
		.community-h3-tt{
			font-size:rem(28px);
			color:#111;
			text-align:center;
		}
		.comm-small-guide-txt{
			text-align:right;
			font-size:rem(14px);
			color:#2d2d2d;
		}
	}

	.comm-friends-intro-board{
		.data-table{
			colgroup{
				col{
					&:nth-child(1){
						width:268px;
					}
					&:nth-child(2){
						width:268px;
					}
					&:nth-child(3){
						width:275px;
					}
					&:nth-child(4){
						width:auto;
					}
				}
			}
			thead{
				tr{
					th{
						border:2px solid #fff;
						&:first-child{
							border-left:0;
						}
						&:last-child{
							border-right:0;
						}
					}
				}
			}
			tbody{
				tr{
					td{
						border:2px solid #fff;
						&:first-child{
							border-left:0;
						}
						&:last-child{
							border-right:0;
						}
						.mobile-th{
							display:none;
						}
					}
				}
			}
		}
	}

	.comm-white-quick-btn{
		text-align:center;
		.comm-bt-div{
			display: inline-block;
			.btn{
				width:184px;
			}
		}
	}

	.gi-gray-circle-list-wrap{
		ul{
			background:#f1f1f1;
			padding:73px 70px;
			@include cf;
			// margin:-27px 0;
			li{
				width:20%;
				float:left;
				padding:27px 0;
				.pic-img{
					margin:0 auto;
					width:120px;
					height:120px;
					overflow:hidden;
					@include border-radius($border-radius : 60px);
					img{
						width:100%;
					}
				}
				.human-infor{
					text-align:center;
					font-size:rem(14px);
					color:#2d2d2d;
					margin-top:12px;
				}
				&.list-none{
					width:100%;
					text-align:center;
					p{
						font-size:rem(14px);
						color:#676767;
					}
				}
			}
		}
	}


	// 신청하기
	.friends-tit-h4{
		font-size:rem(15px);
		color:#000;
		margin-bottom:10px;
	}
	.fri-num-tt{
		font-size:rem(14px);
		color:#2b2b2b;
		margin-bottom:15px;
		display:block;
		font-weight:normal;
	}
	.fri-input-file{
		.uploader{
			display:inline-block;
			vertical-align:middle;
			height:36px;
			.action{
				height:36px;
				line-height:36px;
			}
		}
		.file-info-txt{
			margin-left:5px;
		}
	}
	.fri-num-list-board{
		.fri-num-list-li{
			margin-bottom:40px;
			&:last-child{
				margin-bottom:0;
			}
		}
	}
	.fri-check-graypd-box{
		background:#f7f7f7;
		padding:37px 48px;
		ul{
			@include cf;
			li{
				float:left;
				font-size:rem(14px);
				color:#111;
				padding-right:90px;
				margin:10px 0;
				label{
					.checker{
						margin-right:12px;
					}
				}
				&.rong-area{
					width:100% !important;
					label{
						.checker{
							margin-right:12px;
						}
					}
					.etc-put{
						display:inline-block;
						padding-left:15px;
						input[type=text]{
							width:560px;
							padding: 4px 10px;
							height: 36px;
							border-width: 1px;
						}
					}
				}
			}
		}
		&.persent-5{
			ul{
				li{
					width:20%;
					padding-right:0;
				}
			}
		}
		&.persent-4{
			ul{
				li{
					width:25%;
					padding-right:0;
				}
			}
		}
	}

///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////


	/* layout */
	.community-page-content-wrap{
		.sub-big-banner-case03-wrap{
			//
		}

		.community-con-wrap-box{
			padding-top: 40px;
			border-top: 1px solid #e1e1e1;
		}



		// 더 바디샵 프렌즈 소개
		.comm-wrap-area{
			.comm-tt-rela-zone{
				margin-bottom:20px;
				.community-h3-tt{
					//
				}
			}
			.comm-friends-intro-board{
				//
			}
			.mail-nor-text{
				font-size:rem(14px);
				color:#2d2d2d;
				margin-top:10px;
				a{
					color:#2d2d2d;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
		.comm-white-quick-btn{
			margin-top:40px;
		}
		.comm-32gi-area{
			margin-top:60px;
			.comm-tt-rela-zone{
				margin-bottom:20px;
				.community-h3-tt{
					//
				}
				.gi-select-choice{
					position:absolute;
					top:0;
					right:0;
					.sort-by-select{
						width:200px;
						display:inline-block;
						vertical-align: middle;
						// height:48px;
						.selectric-wrapper{
							.selectric{
								height:44px;
							}
						}
					}
					.btn{
						width:130px;
						display:inline-block;
						vertical-align: middle;
					}
				}
			}
		}

		// 신청하기
		.comm-application-form-all-wrap{
			.comm-tt-rela-zone{
				margin-bottom:20px;
				.community-h3-tt{
					//
				}
			}
			.comm-friends-intro-board{
				.board-email-put-area{
					width:635px;
				}
				.input-address{
					width:635px;
				}
			}
			.comm-friends-additional-intro-board{
				margin-top:37px;
				.fri-area-form{
					textarea{
						width:100%;
						border: 1px #e1e1e1 solid;
						height:104px;
						padding: 4px 10px;
					}
				}
				.field{
					.insert{
						&.in-table-in{
							padding:0;
							.field-double{
								.field{
									.label{
										background:#eaeaea;
									}
								}
								+ .field-double{
									.field{
										width:100%;
									}
								}
							}
						}
					}
				}
				&.online{
					//
				}
				&.survey{
					//
				}
			}
		}
		.fri-app-btn{
			font-size:0;
			text-align:center;
			margin:0 -2.5px;
			margin-top:48px;
			.fri-last-btn{
				display:inline-block;
				padding:0 2.5px;
				.btn{
					width:192px;
				}
			}
		}
	}


}