// @include mq($pc) {


.member-part {
	background-color: #f7f7f7;
	padding-top: 40px;
	padding-bottom: 45px;
	// text-align: center;
	@include mq($phone) {
		padding-top: 30px;
	}
	+ .member-part {
		margin-top: 25px;
	}
	> .login-message {
		margin-top: 20px;
		text-align: center;
	}
}

.login-title {
	text-align: center;
	font-size: 28px;
	font-family: 'Interstate Black Cond',$body-font-family;
	@include mq($phone) {
		font-size: 2em;
		line-height: 1em;
		padding: 24px 0;
	}
}

.login-switch {
	margin-top: 12px;
	@include mq($mobile) {
		&.tab {
			padding: 0 10px;
			li {
				width: 49%;
			}
		}
	}
}

.login-form {
	margin: 25px auto 0;
	width: 312px;
	text-align: left;
	@include mq($phone) {
		margin-top: 10px;
		padding: 0 12px;
		width: auto;
	}
	legend {
		@include blind;
	}
	.field {
		+ .field {
			margin-top: 30px;
		}
		.label {
			margin-bottom: 8px;
		}
		input {
			width: 100%;
		}
	}
	.login-save {
		margin-top: 10px;
	}
	.button-area {
		margin-top: 22px;
		text-align: center;
		.btn {
			width: 154px;
			&.full {
				width: 100%;
			}
		}
		@include mq($mobile) {
			.btn {
				width: 49%;
			}
		}
	}
	.comment {
		margin-top: 26px;
		color: #7d7d7d;
		line-height: 1.4;
		@include mq($mobile) {
			font-size: 0.9rem;
		}
	}
	.find-pw {
		margin-top: 28px;
		display: inline-block;
		color: #111;
	}
}

.login-find {
	.message {
		margin-top: 8px;
		color: #7d7d7d;
		span {
			color: #111;
		}
	}
	.article {
		+ .article {
			margin-top: 36px;
		}
		h3 {
			font-size: 18px;
		}
	}
	fieldset {
		margin-top: 8px;
	}
	.button-area.auth {
		.btn {
		}
	}
}

.join-info {
	margin: 24px auto 0;
	width: 388px;
	text-align:center;
	@include mq($phone) {
		padding: 0 10px;
		width: auto;
		font-size: 0.9em;
	}
}

.join-benefit {
	margin: 45px auto 0;
	@include mq($mobile) {
		margin-top: 30px;
	}
}

.join-benefit-assets {
	margin: 0 auto;
	width: 880px;
	@include cf;
	.asset {
		float: left;
		width: 220px;
		text-align: center;
	}
	.pic {
		margin: 0 auto;
		@include size(105px);
		@include bdr(100%);
		overflow: hidden;
		background-color: #fff;
		.frame {
			display: table;
			@include size(105px);
			table-layout: fixed;
		}
		span {
			display: table-cell;
			@include size(100%);
			text-align: center;
			vertical-align: middle;
		}
	}
	.text {
		margin-top: 16px;
		display: inline-block;
		width: 160px;
		font-size: 13px;
		span {
			display: inline-block;
		}
	}
	@include mq($mobile) {
		margin: 0 auto;
		width: 320px;
		.asset {
			margin: 0 9px;
			display: inline-block;
			width: 140px;
			float: none;
			+ .asset {
				margin-top: 20px;
			}
			.pic, .text {
				width: 100%;
				display: block;
				vertical-align: top;
			}
			.pic {
				@include size(52px);
				.frame {
					@include size(52px);
				}
				img {
					width: 35px;
					height: auto;
				}
			}
			.text {
				margin-top: 7px;
				font-size: 0.9rem;
			}
		}
	}
}
.join-benefit-text {
	margin: 50px auto 0;
	width: 800px;
	.message, .comment {
		line-height: 24px;
	}
	.message {
		font-size: 13px;
	}
	.comment {
		margin-top: 26px;
		font-size: 12px;
		color: #7d7d7d;
		span {
			display: inline-block;
		}
	}
	@include mq($mobile) {
		margin-top: 40px;
		padding: 0 12px;
		width: auto;
		.message, .comment {
			font-size: 0.9rem;
			line-height: 1.8;
			span {
				display: inline;
			}
		}
	}
}


.member-checker-heading {
	// display: none;
	text-align: center;
	@include mq($phone) {
		padding: 20px 12px 0;
	}
}

.membership-combine-data {
	// display: none;
	margin: 30px auto 0;
	&.membership-already {
		padding-left: 30px;
		padding-top: 24px;
		padding-bottom: 24px;
		width: 920px;
		background-color: #fff;
		@include bz;
		@include cf;
		@include mq($phone) {
			margin: 20px 10px 0;
			padding: 0 20px;
			width: auto;
			.select-wrap .asset {
				height: auto;
			}
		}
		@include mq($tablet) {
			margin-left: 20px;
			margin-right: 20px;
			padding: 10px 20px;
			width: auto;
		}
	}
	&.membership-newface {
		margin: 0 322px;
		.field {
			+.field {
				margin-top: 5px;
			}
			label {
				width: 72px;
			}
			input {
				width: 404px;
			}
			.btn {
				width: 144px;
			}
			.label {
				padding-top: 15px;
				width: 72px;
				float: left;
			}
			.insert {
				float: none;
				overflow: hidden;
				.btn {
					vertical-align: top;
				}
			}
		}
		.attention {
			margin-top: 20px;
			margin-left: 26px;
			li {
				font-size: 12px;
				color: #7d7d7d;
				line-height: 2;
			}
		}
		@include mq($mobile) {
			margin: 30px 0 0;
			padding: 0 12px;
			.field {
				position: relative;
				.label {
					padding-top: 0;
					float: none;
				}
				.insert {
					position: relative;
					padding-right: 80px;
				}
				input {
					width: 100%;
				}
				.btn {
					position: absolute;
					right: 0;
					top: 0;
					width: 76px;
				}
			}
			.attention {
				margin-left: 0;
			}
		}
	}
}

.membership-status-select {
	margin-top: 12px;
	text-align: center;
	.select-wrap {
		display: inline-block;
	}
	@include mq($mobile) {
		margin: 0 auto;
		padding: 15px 30px;
		max-width: 260px;
		text-align: left;
		.select-wrap {
			.asset {
				float: none;
				+ .asset {
					margin-left: 0;
				}
			}
		}
	}
}
.memebership-already-number {
	float: left;
	width: 636px;
	border-right: 1px #e1e1e1 solid;
	@include cf;
	h3 {
		width: 146px;
		float: left;
	}
	.select-wrap {
		float: none;
		overflow: hidden;
		.asset {
			> label {
				padding-right: 20px;
				display: block;
				@include cf;
			}
			.radio {
				float: left;
				margin-right: 8px;
			}
			.data {
				padding-top: 3px;
				display: block;
				float: none;
				overflow: hidden;
				line-height: 1.3;
			}
		}
	}
	@include mq($mobile) {
		float: none;
		padding-top: 15px;
		padding-bottom: 10px;
		width: auto;
		border-right: none;
		h3 {
			padding-bottom: 10px;
			float: none;
		}
		.select-wrap {
			// float: left;
			.asset {
				> label {
					padding-right: 0;
				}
			}
		}
	}
	@include mq($tablet) {
		h3 {
			float: left;
		}
		.select-wrap {
			// float: right;
		}
	}

}
.membership-already-point {
	float: left;
	margin-left: -1px;
	padding-left: 20px;
	width: 200px;
	border-left: 1px #e1e1e1 solid;
	@include cf;
	.point {
		text-align: right;
		font-size: 25px;
	}
	@include mq($mobile) {
		width: auto;
		border-left: none;
		h3 {
			float: left;
		}
		.point {
			float: right;
			padding-right: 20px;
		}
	}
	@include mq($mobile) {
		float: none;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 0;
		border-top: 1px #e1e1e1 solid;
	}
}

.member-part-join {
	padding: 50px 0;
	@include mq($phone) {
		padding-top: 30px;
		padding-left: 12px;
		padding-right: 12px;
	}
}
.member-join-title {
	max-width: 924px;
	margin: 0 auto;
	h2 {
		padding-right: 4px;
		display: inline-block;
		font-size: 25px;
	}
	@include mq($phone) {
		h2 {
			font-size: 22px;
			// display: block;
		}
		span {
			font-size: 0.9rem;
		}
	}
}

.member-join-input {
	margin-top: 25px;
	margin: 25px auto 0;
	max-width: 924px;
	@include cf;
}
.member-join-input-part {
	float: left;
	width: 438px;
	+ .member-join-input-part {
		float: right;
	}
	@include mq($mobile) {
		margin: 0 auto;
		float: none;
		+ .member-join-input-part {
			float: none;
			margin-top: 30px;
		}
	}
	.insert {
		// .with-btn {
		// 	vertical-align: top;
		// 	@include cf;
		// 	input {
		// 		width: 260px;
		// 	}
		// 	.btn {
		// 		width: 174px;
		// 		vertical-align: top;
		// 	}
		// }
		// .with-select {
		// 	select {
		// 		display: inline-block;
		// 		width: 144px;
		// 	}
		// 	input {
		// 		width: 290px;
		// 	}
		// }
		// .with-email {
		// 	input {
		// 		width: 130px;
		// 	}
		// 	select {
		// 		width: 144px;
		// 	}
		// 	.at {
		// 		display: inline-block;
		// 		width: 22px;
		// 		text-align: center;
		// 	}
		// }
		// .input-address {
		// 	> input {
		// 		margin-top: 4px;
		// 	}
		// }
		.message {
			display: inline-block;
			margin-top: 10px;
			color: #7d7d7d;
		}
	}
	.shipping-default-check {
		margin-top: 10px;
	}
	@include mq($phone) {
		width: auto;
		float: none;
		.insert {
			.input-birthday {
				display: flex;
				.selectric-wrapper {
					width: auto;
					flex-grow:1;
					flex-shrink:1;
					+ .selectric-wrapper {
						margin-left: 4px;
					}
				}
			}
			.with-btn, .with-select {
				position: relative;
			}
			.with-btn {
				// padding-right: 80px;
				input {
					// width: 100%;
				}
				.btn {
					// position: absolute;
					// top: 0;
					// right: 0;
					// padding: 0;
					// width: 80px;
				}
			}
			.with-select, .with-phone {
				// padding-left: 104px;
				// display: flex;
				.corp, .selectric-wrapper {
					// margin-right: 4px;
					// flex-shrink: 0;
					// flex-basis: 104px;
					// width: 104px;
				}
				input {
					// width: 100%;
				}
				// select {
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	// padding: 0;
				// 	width: 100px;
				// }
			}
			.with-email {
				width: auto;
				display: flex;
				align-items: center;
				input, .selectric-wrapper, .at {
					width: 50%;
					flex-shrink: 1;
					flex-grow: 1;
					flex-basis: 50%;
				}
				.at {
					flex-shrink: 0;
					width: 24px;
					flex-basis: 24px;
				}
				.selectric-wrapper {
					margin-left: 4px;
				}
				// * {
				// 	flex-grow: 1;
				// 	flex-basis: 100%;
				// }
			}

		}
	}
}

.member-join-terms-check {
	padding: 25px;
	min-height: 281px;
	background-color: #fff;
	.checker-term {
		margin-bottom: 20px;
		@include cf;
		.btn {
			float: right;
		}
	}
	@include mq($phone) {
		padding-left: 15px;
		padding-right: 15px;
		min-height: 0;
	}
}

.button-area.submit {
	margin-top: 20px;
	.btn.full {
		width: 100%;
	}
}

.member-join-complete-message {
	font-size: 25px;
	text-align: center;
	font-weight: normal;
	&.recovery-title {
		font-size: 30px;
	}

	img {
		height: 22px;
		vertical-align: baseline;
	}
	@include mq($phone) {
		padding-left: 12px;
		padding-right: 12px;
		font-size: 20px;
		img {
			height: 18px;
		}
	}
}

.member-join-complete-data {
	margin-top: 40px;
	text-align: center;
	.membership-card-barcode, .membership-user-data {
		display: inline-block;
		vertical-align: top;
	}
	.membership-user-data {
		margin-top: 10px;
		margin-left: 24px;
		text-align: left;
	}
	@include mq($phone) {
		margin-top: 20px;
		.membership-user-data {
			margin-left: 0;
		}
	}
}
.membership-welcome-coupon {
	margin-top: 45px;
	text-align: center;
	.membership-welcome-coupon-title {
		font-size: 18px;
		text-align: center;
	}
	.button-area {
		margin-top: 20px;
		text-align: center;
		.btn {
			width: 312px;
		}
	}
	.welcom-message {
		margin-top: 25px;
		font-size: 12px;
		color: #7d7d7d;
		text-align: center;
		line-height: 2;
	}
	.recovery-text {
		max-width: 700px;
		margin: 0 auto;
	}
	.recovery-list {
		margin-top: 30px;
		display: inline-block;
		text-align: left;
		color: #666;
		font-size: rem(12px);
	}
	@include mq($phone) {
		.membership-welcome-coupon-title {
			margin-left: 10px;
			margin-right: 10px;
			font-size: 1.15rem;
		}
		.button-area {
			.btn {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				max-width: 300px;
			}
		}
		.welcom-message {
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

.mem-sex-btn-box{
	.btn{
		background:transparent;
		width:130px;
		&.on{
			color:#fff;
			background:#111;
		}
	}
}


// }
