@include mq($mobile) {

	/* module */
	// sitemap-title
	.sitemap-tt-h3{
		font-size:rem(28px);
		color:#000;
		text-align:center;
	}

	.sitemap-li-ul{
		@include cf;
		// margin:0 -20px;
		.sitemap-li-li{
			float:left;
			width:100%;
			padding:15px 10px;
			@include box-sizing;
			@include mq($tablet) {
				text-align:center;
				padding: 30px 40px;
			}
			.sitemap-tt-h4{
				padding-bottom:10px;
				border-bottom:1px solid #e1e1e1;
				a{
					font-size:rem(18px);
					color:#111;
				}
			}
			.depth-02-ul{
				margin-top:19px;
				padding-left:13px;
				.depth-02-li{
					margin-bottom:15px;
					&:last-child{
						margin-bottom:0;
					}
					.depth-02-div{
						a{
							font-size:rem(14px);
							color:#111;
							&:hover{
								text-decoration:underline;
							}
						}
					}
					.depth-03-ul{
						margin-top:15px;
						padding-left:7px;
						.depth-03-li{
							margin-bottom:15px;
							&:last-child{
								margin-bottom:0;
							}
							.depth-03-div{
								a{
									font-size:rem(14px);
									color:#111;
								}
							}
						}
					}
				}
			}

			a{
				text-decoration:none;
			}
		}
	}





///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////


	/* siteamp-detail */
	.sitemap-page-wrap{
		padding-top:12px;
	}



}
