@include mq($mobile) {

	/* module */
	// banner
	.sub-big-banner-wrap{
		background: url($img + '@temp/sub-big-banner-bb-1272x429.jpg') center center no-repeat;
		background-size:cover;
		width:100%;
		height:318px;
		position:relative;
		display:table;
		.page-tt-h2{
			width:100%;
			text-align:center;
			font-size:rem(31px);
			color:#fff;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-family: 'Interstate',$body-font-family;
			font-style: normal;
			font-weight: 400;
			display:table-cell;
			vertical-align:middle;
		}
	}

	.sub-big-banner-case02-wrap{
		text-align:center;
		height:115px;
		display:table;
		width:100%;
		.big-banner-cell{
			display:table-cell;
			vertical-align:middle;
			padding:7% 15px;
			.page-tt-h2{
				font-size:rem(30px);
				color:#000;
				font-weight:bold;
				// letter-spacing:-1px;
				line-height:1.1;
				letter-spacing:-3px;
				font-family: 'Interstate','thebodyshop_jung_170', $body-font-family;
				@include mq($tablet) {
					font-size:rem(72px);
				}
			}
			.ban-case02-guide{
				font-size:rem(12px);
				color:#2d2d2d;
				margin-top:19px;
				@include mq($tablet) {
					font-size:rem(14px);
				}
			}
		}
	}

	.sub-big-banner-case03-wrap{
		&.title-alone{
			.big-banner-cell{
				margin:-67px auto 0;
				.page-tt-h2{
					// font-weight:400;
					@include mq($tablet) {
						font-size:rem(62px);
						// font-weight:400;
					}
				}
			}
			&.title-bold{
				.big-banner-cell{
					.page-tt-h2{
						font-weight:bold;
						letter-spacing:-1px;
					}
				}
			}
		}
		&.community{
			.big-banner-cell{
				.page-tt-h2{
					font-size:rem(36px);
					font-weight:400;
					@include mq($tablet) {
						font-size:rem(50px);
						font-weight:400;
					}
				}
			}
		}
		&.our{
			.banner-case03-bg{
				background-size:170%;
				background-position: center;
				@include mq($tablet) {
					background-size:700px;
				}
			}
			.big-banner-cell{
				.page-tt-h2{
					font-size:rem(35px);
					letter-spacing:-1px;
				}
				.ban-case02-guide{
					margin-top: 13%;
					@include mq($tablet) {
						margin-top: 10px;
					}
				}
			}
			&.bg-cor{
				.banner-case03-bg{
					background-size:cover;
				}
			}
			&.pic{
				.banner-case03-bg{
					background-repeat:no-repeat;
					background-position:center;
					background-size:cover;
					text-align:center;
					height:0;
					padding-top:100%;
					@include mq($tablet) {
						padding-top:500px;
					}
				}
				.big-banner-cell{
					.page-tt-h2{
						font-size:rem(35px);
						letter-spacing:-3px;
					}
					.ban-case02-guide{
						margin-top: 13%;
						@include mq($tablet) {
							margin-top: 10px;
						}
					}
				}
			}
		}
		.banner-case03-bg{
			// background: url($img + '@temp/sub-big-banner-bb-1272x429.jpg') center center no-repeat;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			text-align:center;
			height:0;
			padding-top:100%;
			@include mq($tablet) {
				// padding-top:45%;
				padding-top:0;
				height:385px;
			}
		}
		.big-banner-cell{
			max-width:1180px;
			width:85%;
			@include box-sizing;
			text-align:center;
			padding:16px 15px;
			background:#fff;
			margin:-76px auto 0;
			.page-tt-h2{
				font-size:rem(36px);
				color:#000;
				font-weight:bold;
				letter-spacing:-4px;
				line-height:1;
				font-family: 'Interstate','thebodyshop_jung_170', $body-font-family;
				@include mq($tablet) {
					font-size:rem(50px);
				}
				&.han{
					font-weight:normal;
				}
			}
			.ban-case02-guide{
				font-size:rem(14px);
				color:#2d2d2d;
				margin-top:5%;
				br{
					display:none;
					@include mq($tablet) {
						display:block;
					}
				}
			}
		}
	}

	// 별평가
	.star-score-box{
		display:inline-block;
		background: url($img + 'common/icon-star-stroked-2px-space.svg') 0 0 repeat-x;
		background:url($img + 'common/icon-star-stroked-2px-space_png.png') 0 0 repeat-x;
		font-size: 0;
		height: 12px;
		line-height: 0;
		overflow: hidden;
		width: 76px;
		position: relative;
		z-index: 1;
		vertical-align:middle;
		.star-gauge{
			background: url($img + 'common/icon-start-filled-2px-space.svg') 0 0 repeat-x;
			background:url($img + 'common/icon-start-filled-2px-space_png.png') 0 0 repeat-x;
			float: left;
			height: 12px;
			display: block;
		}
		&.star-1{
			.star-gauge{
				width:15px;
			}
		}
		&.star-2{
			.star-gauge{
				width:30px;
			}
		}
		&.star-3{
			.star-gauge{
				width:45px;
			}
		}
		&.star-4{
			.star-gauge{
				width:60px;
			}
		}
		&.star-5{
			.star-gauge{
				width:100%;
			}
		}
	}

	// submain 2depth menu
	.submain-cate-menu-slice{
		.submain-cate-menu-ul{
			padding:0 23px;
			border-bottom:1px solid #e1e1e1;
			.submain-cate-menu-li{
				text-align:center;
				height:69px;
				line-height:69px;
				a{
					font-size:rem(14px);
					font-weight:600;
					color:#111;
					text-decoration:none;
					letter-spacing:-1px;
				}
			}
			.slick-arrow{
				font-size:0;
				display:block;
				position:absolute;
				top:50%;
				margin-top:-12px;
				z-index:1;
				width:24px;
				height:24px;
				border:0;
				cursor:pointer;
				&.slick-prev{
					left:0;
					background: url($img + 'common/carousel-left.png') 0 0 no-repeat;
				}
				&.slick-next{
					right:0;
					background: url($img + 'common/carousel-right.png') 0 0 no-repeat;
				}
			}
		}
	}

	.mobile-tab-toggle-list-wrap{
		position:relative;
		&.on{
			.mobile-tab-toggle-tt{
				.mobile-tab-toggle-mark{
					background: url($img + 'svg/icon-arrow-up.svg') left center no-repeat;
					background-size: 16px;
				}
			}
			.toggle-list{
				display:block;
			}
		}
		.selectric-wrapper{
			.selectric{
				border:2px solid #e1e1e1;
				background:#fff;
				.label{
					color:#111;
					height:46px;
					line-height:46px;
					padding:0 36px 0 24px;
					margin:0;
					font-weight:600;
					font-size:rem(16px);
				}
				.button{
					background:#fff url($img + 'svg/icon-arrow-down.svg') left center no-repeat;
					background-size: 16px;
					width: 16px;
					height: 16px;
					padding-right:17px;
					top:50%;
					margin-top: -8px;
					&:after{
						display:none;
					}
				}
			}
			.selectric-items{
				border:2px solid #e1e1e1;
				background:#fff;
				margin-top:-2px;
				margin-bottom:-2px;
				.selectric-scroll{
					ul{
						li{
							position:relative;
							display:block;
							height:48px;
							line-height:48px;
							color:#111;
							text-decoration:none;
							padding:0 24px;
							font-weight:600;
							font-size:rem(16px);
							&:after{
								content:"";
								display:none;
								position:absolute;
								top:50%;
								right:0;
								margin-top:-8px;
								background:#fff url($img + 'svg/icon-tick.svg') left center no-repeat;
								background-size: 16px;
								width: 16px;
								height: 16px;
								padding-right:17px;
							}
							&.highlighted{
								background:#fff;
								&:after{
									display:block;
								}
							}
						}
					}
				}
			}
			&.selectric-open{
				.selectric{
					.label{
					}
					.button{
						background: url($img + 'svg/icon-arrow-up.svg') left center no-repeat;
						background-size: 16px;
					}
				}
				.selectric-items{
					.selectric-scroll{
						ul{
							li{

							}
						}
					}
				}
			}
		}
	}

	// 설명
	.submain-txt-ex{
		font-size:rem(14px);
		color:#111;
		text-align:center;
		font-weight:600;
		letter-spacing:-1px;
		line-height:1.7;
	}

	// h3 단락
	.page-tt-h3{
		font-size:rem(25px);
		color:#2d2d2d;
		letter-spacing:-1px;
	}

	// 이달의 MD 추천
	.detail-recommend-lsit{
		.detail-recommend-lsit-ul{
			margin:0 -14px;
			letter-spacing:-1px;
			font-size:0;
			.detail-recommend-lsit-li{
				@include box-sizing;
				display:inline-block;
				width:33.3333333%;
				padding:0 14px;
				.recomm-lsit-in{
					text-align:center;
					.pic{
						margin-bottom:26px;
						img{
							width:100%;
						}
					}
					.tt{
						margin:0;
						padding:0;
						border:0;
						color:#111;
						dt{
							font-size:rem(24px);
							font-weight:700;
							line-height:1;
							margin-bottom:10px;
						}
						dd{
							margin:0;
							padding:0;
							border:0;
							font-size:rem(14px);
							font-weight:600;
							line-height:1.4;
						}
					}
					.detali-btn{
						margin-top:28px;
						a{
							position:relative;
							display:inline-block;
							font-size:rem(12px);
							color:#111;
							font-weight:600;
							text-decoration:none;
							&:after{
								display:block;
								content:"";
								height:1px;
								width:100%;
								background:#111;
							}
						}
					}
				}
			}
			.slick-dots{
				text-align:center;
				margin-top:25px;
				li{
					display: inline-block;
					@include border-radius($border-radius : 10px);
					border: 2px solid #0d0d0d;
					width: 10px;
					height: 10px;
					margin: 0 4.25px;
					&.slick-active{
						background: #0d0d0d;
						border-color: #0d0d0d;
					}
					button{
						font-size: 0;
						line-height: 0;
						display: block;
						cursor: pointer;
						color: transparent;
						border: 0;
						background: transparent;
						padding:0;
					}
				}
			}
		}
		&.main-list{
			.detail-recommend-lsit-ul{
				margin: -7.5px 0;
				padding: 0 10px;
				.detail-recommend-lsit-li{
					width:100%;
					padding: 7.5px 0;
				}
			}
		}
	}

	// WHAT’S HOT
	.whats-hot-lsit{
		position: relative;
		.whats-hot-show-all {
			position: absolute;
			top: -50px;
			right: 0;
			a {
				color: #111;
				text-decoration: none;
			}
		}
		.view-item-list-wrapper & {
			margin-top: 15px;
		}
		.list-noting-message-box {
			padding: 80px 0;
			font-size: 16px;
			text-align: center;
			color: #7d7d7d;
			background-color: #f7f7f7;
		}
		.whats-hot-li-ul{
			// margin:0 -10px;
			font-size:0;
			padding:0 24px;
			&.list-num_03{
				padding:0;
				.whats-hot-li-li{
					width:50%;
					padding-top:10px;
					padding-bottom:30px;
					.product-issue{
						top:10px;
						right:10px;
					}
				}
			}
			&.list-num_04{
				padding:0;
				.whats-hot-li-li{
					width:50%;
					padding-top:10px;
					padding-bottom:10px;
					.product-issue{
						top:15px;
						right:15px;
					}
				}
			}
			.whats-hot-li-li{
				position:relative;
				text-align:center;
				display:inline-block;
				width:100%;
				@include box-sizing;
				padding:0 10px;
				&.filter-none{
					width:100%;
					text-align:center;
					padding:100px 0;
					.none-txt{
						font-size:rem(15px);
						color:#7d7d7d;
						.filter-ico{
							display:inline-block;
							width:17px;
							height:20px;
							vertical-align:middle;
							background:url($img + 'common/tag-filter-ico.png') 0 0 no-repeat;
							background-size:17px auto;
							margin-right:9px;
						}
					}
				}
				&.product-none{
					width:100%;
					text-align:center;
					padding:100px 0;
					.none-txt{
						font-size:rem(15px);
						color:#7d7d7d;
						.product-ico{
							display:inline-block;
							width:17px;
							height:20px;
							vertical-align:middle;
							background:url($img + 'common/tag-product-ico.png') 0 0 no-repeat;
							background-size:17px auto;
							margin-right:9px;
						}
					}
				}
				.hot-checker{
					position:absolute;
					top:10px;
					left:10px;
				}
				// .product-issue{
				// 	position:absolute;
				// 	top:0;
				// 	right:0;
				// 	width:45px;
				// 	height:45px;
				// 	overflow:hidden;
				// 	@include border-radius($border-radius : 22.5px);
				// 	display:table;
				// 	line-height:1;
				// 	&.new{
				// 		background:#111;
				// 	}
				// 	&.best{
				// 		background:#111;
				// 	}
				// 	&.hot{
				// 		background:#c84b47;
				// 	}
				// 	p{
				// 		display:table-cell;
				// 		vertical-align: middle;
				// 		font-size:rem(12px);
				// 		font-weight:600;
				// 		color:#fff;
				// 	}
				// }
				.whats-hot-in{
					.step-title{
						font-size:rem(15px);
						color:#111;
						background:#f7f7f7;
						font-weight:600;
						height:40px;
						line-height:40px;
						margin-bottom:10px;
						padding:0 10px;
						overflow:hidden;
						text-overflow:ellipsis;
						white-space:nowrap;
					}
					.pic{
						img{
							width:100%;
						}
					}
					.tt{
						padding-top:20px;
						.star-appraisal{
							margin-bottom:10px;
							@include cf;
							font-size:0;
							.product-appraisal{
								display:inline-block;
								vertical-align:middle;
								margin-left:7px;
								.appraisal-ico-link{
									.appraisal-ico{
										display:block;
										width:17px;
										height:16px;
										background: url($img + 'common/ico-appraisal.png') 0 0 no-repeat;
									}
								}
							}
						}
						.product-detail{
							.prod-txt{
								a{
									display:block;
									// height:2.8em;
									line-height:1.4;
									// overflow:hidden;
									text-decoration:none;
									.in-box-txt-skip{
										font-size:rem(14px);
										color:#2d2d2d;
										text-decoration:none;
										height:2.8em;
										line-height:1.4;
										margin-bottom:10px;
										overflow:hidden;
										text-overflow:ellipsis;
										display:-webkit-box;
										-webkit-line-clamp:2;
										-webkit-box-orient:vertical;
										.soldout{
											display:inline-block;
											font-size:rem(12px);
											color:#fff;
											font-weight:bold;
											padding:3px 7px;
											background:#111;
											text-decoration:none;
											margin-right:3px;
											line-height:1;
										}
										.limit{
											display:inline-block;
											font-size:rem(12px);
											color:#111;
											font-weight:bold;
											padding:3px 7px;
											// background:#07bc88;
											text-decoration:none;
											margin-right:3px;
											line-height:1;
											border:1px solid #111;
										}
									}
								}
								strong{
									font-size:rem(14px);
									color:#111;
									line-height:1.4;
									&.login-mem-sale{
										display:inline-block;
										font-size:rem(12px);
										color:#fff;
										font-weight:bold;
										padding:3px 7px;
										background:#111;
										text-decoration:none;
										line-height:1.1;
									}
								}
								span{
									font-size:rem(14px);
									color:#111;
									font-weight:lighter;
									text-decoration: line-through;
									margin-right:8px;
								}
							}
						}
					}
					.like-save-zone{
						margin-top:9px;
						font-size:0;
						.btn{
							font-weight:600;
							width:80px;
							height:41px;
							line-height:37px;
							padding:0 5px;
							&:active{
								color:#fff;
								background:#111;
							}
						}
						.wish{
							margin-left:6px;
							display:inline-block;
							width: 30px;
							height: 24px;
							border: 0;
							background: url($img + 'common/icon-wishlist.svg') 0 center no-repeat;
							background-size: 25px;
							vertical-align:middle;
							cursor:pointer;
							&.on{
								background: url($img + 'common/icon-wishlist-black.svg') 0 center no-repeat;
								background-size: 25px;
							}
						}
					}
				}
			}
			.slick-arrow{
				font-size:0;
				display:block;
				position:absolute;
				top:0;
				margin-top:0;
				z-index:1;
				width:24px;
				height:24px;
				border:0;
				cursor:pointer;
				margin-top:20%;
				background-repeat:no-repeat;
				background-size:22px auto;
				background-position:center center;
				background-color:transparent;
				&.slick-prev{
					left:10px;
					background-image: url($img + 'mobile/common/carousel-left.png');
					&.slick-disabled{
						display:none !important;
					}
				}
				&.slick-next{
					right:10px;
					background-image: url($img + 'mobile/common/carousel-right.png');
					&.slick-disabled{
						display:none !important;
					}
				}
			}
			.slick-list{
				position:static;
				.slick-track{
					.whats-hot-li-li{
						float:none;
					}
				}
			}

		}
	}
	.product-issue{
		position:absolute;
		top:0;
		right:1px;
		width:45px;
		height:45px;
		overflow:hidden;
		@include border-radius($border-radius : 22.5px);
		display:table;
		line-height:1;
		&.new{
			background:#111;
		}
		&.best{
			background:#111;
		}
		&.hot{
			background:#c84b47;
		}
		&.percent{
			background:#378c62;
		}
		&.one-n-one{
			background:#c84b47;
		}
		p{
			text-align:center;
			display:table-cell;
			vertical-align: middle;
			font-size:rem(12px);
			font-weight:600;
			color:#fff;
			span{
				font-size:rem(12px);
			}
		}
	}

	.whats-hot-lsit2{
		.whats-hot-li-ul2{
			// margin:0 -10px;
			font-size:0;
			padding:0 24px;
			.whats-hot-li-li{
				position:relative;
				text-align:center;
				display:inline-block;
				width:100%;
				@include box-sizing;
				padding:0 10px;
				.product-issue{
					position:absolute;
					top:0;
					right:0;
					width:45px;
					height:45px;
					overflow:hidden;
					@include border-radius($border-radius : 22.5px);
					display:table;
					line-height:1;
					&.new{
						background:#111;
					}
					&.best{
						background:#111;
					}
					&.hot{
						background:#c84b47;
					}
					p{
						display:table-cell;
						vertical-align: middle;
						font-size:rem(14px);
						font-weight:600;
						color:#fff;
					}
				}
				.whats-hot-in{
					.step-title{
						font-size:rem(15px);
						color:#111;
						background:#f7f7f7;
						font-weight:600;
						height:40px;
						line-height:40px;
						margin-bottom:10px;
						padding:0 10px;
						overflow:hidden;
						text-overflow:ellipsis;
						white-space:nowrap;
					}
					.pic{
						img{
							width:100%;
						}
					}
					.tt{
						padding-top:20px;
						.star-appraisal{
							margin-bottom:10px;
							@include cf;
							font-size:0;
							.star-score-box{
								display:inline-block;
								background: url($img + 'common/icon-star-stroked-2px-space.svg') 0 0 repeat-x;
								background:url($img + 'common/icon-star-stroked-2px-space_png.png') 0 0 repeat-x;
								font-size: 0;
								height: 12px;
								line-height: 0;
								overflow: hidden;
								width: 76px;
								position: relative;
								z-index: 1;
								vertical-align:middle;
								.star-gauge{
									background: url($img + 'common/icon-start-filled-2px-space.svg') 0 0 repeat-x;
									background:url($img + 'common/icon-start-filled-2px-space_png.png') 0 0 repeat-x;
									float: left;
									height: 12px;
									display: block;
								}
							}
							.product-appraisal{
								display:inline-block;
								vertical-align:middle;
								margin-left:7px;
								.appraisal-ico-link{
									.appraisal-ico{
										display:block;
										width:17px;
										height:16px;
										background: url($img + 'common/ico-appraisal.png') 0 0 no-repeat;
									}
								}
							}
						}
						.product-detail{
							.prod-txt{
								a{
									display:block;
									font-size:rem(14px);
									color:#2d2d2d;
									text-decoration:none;
									line-height:1;
									margin-bottom:10px;
								}
								strong{
									font-size:rem(14px);
									color:#111;
								}
							}
						}
					}
					.like-save-zone{
						margin-top:9px;
						font-size:0;
						.btn{
							font-weight:600;
							width:80px;
							height:41px;
							line-height:37px;
							padding:0 5px;
							&:active{
								color:#fff;
								background:#111;
							}
						}
						.wish{
							margin-left:6px;
							display:inline-block;
							width: 30px;
							height: 24px;
							border: 0;
							background: url($img + 'common/icon-wishlist.svg') 0 center no-repeat;
							background-size: 25px;
							vertical-align:middle;
							cursor:pointer;
							&.on{
								background: url($img + 'common/icon-wishlist-black.svg') 0 center no-repeat;
								background-size: 25px;
							}
						}
					}
				}
			}
			.slick-arrow{
				font-size:0;
				display:block;
				position:absolute;
				top:0;
				margin-top:0;
				z-index:1;
				width:24px;
				height:24px;
				border:0;
				cursor:pointer;
				margin-top:20%;
				&.slick-prev{
					left:0;
					background: url($img + 'common/carousel-left.png') 0 0 no-repeat;
				}
				&.slick-next{
					right:0;
					background: url($img + 'common/carousel-right.png') 0 0 no-repeat;
				}
			}
			.slick-list{
				position:static;
				.slick-track{
					.whats-hot-li-li{
						float:none;
					}
				}
			}
		}
	}

	// ALL RANGES
	.all-ranges-lsit{
		ul{
			@include cf;
			font-size:0;
			margin:-7.5px 0;
			padding:0 10px;
			li{
				@include box-sizing;
				width:100%;
				display:inline-block;
				text-align:center;
				padding:7.5px 0;
				.all-ranges-lsit-in{
					position:relative;
					a{
						img{
							width:100%;
						}
						.ab-guide-opa-box{
							position:absolute;
							bottom:0;
							left:0;
							width:100%;
							background:rgba(0, 0, 0, 0.8);
							color:#fff;
							padding:15px 20px;
							@include box-sizing;
							.tt{
								font-size:rem(21px);
							}
							.guide{
								font-size:rem(13px);
								margin:6px 0 13px;
								line-height: 1.5em;
								height:3em;
								overflow:hidden;
								text-overflow:ellipsis;
								display:-webkit-box;
								-webkit-line-clamp:2;
								-webkit-box-orient:vertical;
							}
							.detail-view{
								position:relative;
								display:inline-block;
								font-size:rem(13px);
								&:after{
									display: block;
									content: "";
									height: 1px;
									width: 100%;
									background: #fff;
								}
							}
						}
					}
				}
			}
		}
	}

	// 기간한정 최대 40$ SAVE
	.title-sale-save{
		.page-tt-h3{
			font-size:rem(25px);
			text-align:center;
		}
		.sale-hit-zone{
			.hit-pic{
				img{
					width:100%;
				}
			}
			.hit-guide{
				margin-top:20px;
				.hit-guide-cell{
					vertical-align:middle;
					text-align:center;
					padding:0 15px;
					.g-tt{
						font-size:rem(18px);
						color:#111;
					}
					.g-con{
						font-size:rem(14px);
						color:#2d2d2d;
						margin-top:5px;
						.mb-none{
							display:none;
							@include mq($tablet) {
								display:block;
							}
						}
					}
					.btn{
						font-size:rem(14px);
						color:#2d2d2d;
						margin-top:15px;
						width:192px;
						line-height:44px;
					}
				}
			}
		}
	}



///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////


	/* submain_case_01 */
	.submain-content-case01-wrap{
		.sub-big-banner-wrap{
			//
		}
		.submain-cate-menu-slice{
			display:none;
		}
		.mobile-tab-toggle-list-wrap{
			display:block;
		}
		.submain-txt-ex{
			padding:17.5px 10px 0;
		}
		.this-month-recom-wrap{
			padding-top:48px;
			padding-bottom:48px;
			border-bottom:1px solid #e1e1e1;
			.page-tt-h3{
				text-align:center;
				margin-bottom:25px;
			}
			&.event{
				padding-top:40px;
			}
		}
		.whats-hot-wrap{
			padding-top:48px;
			.page-tt-h3{
				text-align:center;
				margin-bottom:25px;
			}
		}
		.all-ranges-wrap{
			padding-top:48px;
			.page-tt-h3{
				text-align:center;
				margin-bottom:25px;
			}
		}
	}

	/* submain_case_02 */
	.submain-content-case02-wrap{
		.sub-big-banner-case02-wrap{
			//
		}
		.all-ranges-wrap{
			padding-top:19px;
			.page-tt-h3{
				text-align:center;
				margin-bottom:25px;
			}
		}
	}

	/* submain_case_03 */
	.submain-content-case03-wrap{
		.sub-big-banner-case03-wrap{
			//
		}
		.submain-cate-menu-slice{
			display:none;
		}
		.title-sale-save{
			padding:30px 0 40px;
			border-top:1px solid #e1e1e1;
			.page-tt-h3{
				margin-bottom:10px;
			}
			.sale-hit-zone{
				.hit-pic{
					//
				}
				.hit-guide{
					.hit-guide-cell{
						.g-tt{
							//
						}
						.g-con{
							//
						}
						.btn{
							//
						}
					}
				}
			}
		}
		.whats-hot-wrap{
			padding-top:48px;
			padding:0 10px;
			.list-up-ea-btn{
				margin-top:20px;
			}
		}
	}


}
